 /* Responsive */
 @media (max-width: 1025px) {

     .top-info-bar .container .row .col-md-8 .order-item-3,
     .top-info-bar .container .row .col-md-8 .order-item-2 {
         display: none;
     }

     .top-info-bar .container .row .col-md-8,
     .top-info-bar .container .top-social {
         width: 50%;
     }


     .top-info-bar .container .row .d-flex {
         justify-content: space-between;
     }

     .email-signup-box {
         display: none;
     }

     .slide .container .col-lg-6 {
         width: 100% !important;
     }

     .slide-content {
         font-size: 4rem;
         width: 100% !important;
     }
 }

 @media (max-width: 992px) {
     .email-signup-box {
         position: static;  
         transform: none;
         margin: 3rem auto;
         max-width: 500px;
     }

     .slide-content h1 {
         font-size: 3rem;
     }

     .about-content {
         flex-direction: column;
     }

     .navbar-nav .nav-item a {
         padding: 15px 8px !important;
     }

     .navbar-nav {
         margin-bottom: 50px !important;
     }
 }

 @media (max-width: 768px) {
     .top-info-bar {
         text-align: center;
     }

     .stats-section .container .row .col-md-3 {
         margin-bottom: 20px;
     }

     .top-info-item {
         display: block;
         margin: 5px 0;
     }

     .slide-content h1 {
         font-size: 2.5rem;
     }

     .section-title h2 {
         font-size: 2.5rem;
     }

     .slider-arrow {
         width: 50px;
         height: 50px;
     }

     .mv-section .container .row {
         gap: 20px !important;
     }

     .slider-arrow.prev {
         left: 20px;
     }

     .slider-arrow.next {
         right: 20px;
     }

     .email-signup-box {
         display: none;
     }

     .contact-section {
         padding: 0px !important;
     }

     .contact-section .container .row {
         gap: 20px !important;

     }

     .section-title {
         margin-bottom: 20px;
     }

     .contact-form,
     .contact-info {
         padding: 20px !important;
     }
 }

 @media (max-width: 526px) {

     .top-info-bar .container .row .col-md-8,
     .top-info-bar .container .top-social {
         width: 100%;
         justify-content: center !important;
         text-align: center !important;
     }
 }

 @media (max-width: 426px) {
     .contact-section {
         margin-bottom: 30px;
     }

     .mission-card,
     .vision-card,
     .matter-card {
         padding: 16px !important;
     }

     .contact-section .container .row .contact-info .contact-icon {
         width: 50px;
         height: 50px;
     }

     .contact-section .container .row .contact-info h5 {
         font-size: 1.1rem !important;
         margin: 0 !important;
     }

     .contact-section .container .row .contact-info p {
         font-size: 15px !important;
     }

     .cta-buttons {
         flex-direction: column;
     }

     .cta-buttons .btn-custom {
         width: 100%;
     }
 }